SSL=True
SERVER_CERT="./keys/server.crt"
SERVER_KEY="./keys/server.key"
JWT_PUB_KEY= ["{{ cm_dir }}/server/keys/sign_key.pub"]
SECRET_SESSION_KEY="fdgfds%€#&436gfjhköltfsdjglök34j5oö43ijtglkfdjgasdftglok432jtgerfd"
PORT={{ cm_port }}
HOST="0.0.0.0"
DEBUG=True
TICKET_TTL=600