SSL=True
SERVER_CERT="./keys/server.crt"
SERVER_KEY="./keys/server.key"
JWT_PUB_KEY= ["{{ cm_dir }}/server/keys/sign_key.pub"]
SECRET_SESSION_KEY="fdgfds%€#&436gfjhköltfsdjglök34j5oö43ijtglkfdjgasdftglok432jtgerfd"
PORT={{ cm_port }}
HOST="0.0.0.0"
DEBUG=False
TICKET_TTL=600
BABEL_DEFAULT_LOCALE='en'
DATABASE_CLASS_PATH="cmservice.database.SQLite3ConsentDB"
DATABASE_CLASS_PARAMETERS=["test.db"]
AUTO_SELECT_ATTRIBUTES=True
MAX_CONSENT_EXPIRATION_MONTH=12
USER_CONSENT_EXPIRATION_MONTH = [3, 6]
LOGGING_FILE="cmservice.log"
LOGGING_LEVEL="WARNING"